@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*root*/
:root{
    --light:#2fe0dd;
    --blue:#0000ff;
    --purple:#6600ff;
    --white-alpha-25:rgba(255,255,255, 0.25);
    --backdrop-filter-blur:blur(5px);
}

/*General style*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', cursive;
}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(85,85,85);
}

/*ANIMATIONS*/
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.page-loader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: var(rgba(255,255,255, 0.25));
    backdrop-filter: var(blur(5px));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.6s ease;
}
.page-loader div{
    border: 2px solid transparent;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    animation: spin 1s linear infinite;
}
.page-loader div:nth-child(1){
    height:60px;
    width: 60px;
    border-color: var(--light);
}
.page-loader div:nth-child(2){
    height:45px;
    width: 45px;
    border-color: var(--blue);
    animation-duration: 1.2s;
}
.page-loader div:nth-child(3){
    height:30px;
    width: 30px;
    border-color: var(--purple);
}
.page-loader.fade-out{
    opacity: 0;
    animation: fadeOut 0.5s ease-in-out forwards;
}
.hidden{
    display: none !important;
}

/*NAVIGATION*/
.logo {
    font-size: 1.2rem;
  }
  
.logo:hover {
    cursor: default;
  }
nav, 
.nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
   
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

/*HAMBURGER MENU*/
#hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width:30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;

}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;;
}
.hamburger-icon span:first-child{
    transform: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 800px) {
    #navbar{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    
}

/*HOME SECTION*/
.home-section.active{
    display: flex;
}
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section.container{
    display: flex;
}

/*PROFILE*/
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    padding: 15px;
}
.pic-container  img{
    width: 100%;
    border-radius: 50%;
   
}
.text{
    align-self: center;
    text-align: center;
}
.text p{
    font-weight: 600;
}
.text_p1{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title{
    font-size: 3rem;
    text-align: center;
}
.text-3{
    font-size: 20px;
    margin:5px 0;
}
.text-3 span{
    color: crimson;
    font-weight: 200;
}
